.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/duplicate-tabs-closer-chrome/v17/DocumentLayout.json
.vs/duplicate-tabs-closer-chrome/v17/.wsuo
.vs/duplicate-tabs-closer-chrome/FileContentIndex/7bfa83ba-add5-40fa-b564-df544e2a4e6a.vsidx
